
<% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('common.errors') %></h5> <!-- создадим в ru.yml блок common.errors и укажим перевод там -->
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>




<%= form_for @post, html: {multipart: true} do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :summary %>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.trix_editor :body, class: 'editor' %>   <!-- Подключили редактоор РИКС -->
    </div>

    <div class="form-group">
      <span class="input-group-btn">
        <span class="btn btn-small btn-outline-primary btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Add picture</span>
        <%= f.file_field :image, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
      </span>
    </div>

    <!--
    <div class="form-group">
      <%= f.file_field :image %>
    </div>

     ТИПО КНОПКА 2 (не рабочая)
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    -->


    <div class="form-group">
      <%= f.submit t('.submit', action: @post.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
      <!-- вызовем метод 't' ему передадим '.submit'(вложеность! перевода находиться ru.posts.form.submit) -->
      <!-- укажим в качестве переменой наш 'action:' по адресу ru.posts.form.submit -->
      <!-- СЛОЖНА -->
      <!-- проверка 'if' @post.new_record? если 'true' тогда передать 'Создать', 'false'='Изменить' -->
      <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary' %>
    </div>
<% end %>

<%# post_form отвечает за форму создать, изменить %>